# Build File

!server/
server/*/**.js
server/*.js
!server/Gulpfile.js

!client/
client/**/*.js
!client/Gulpfile.js

HSHClient/**/*.js
!HSHClient/Gulpfile.js

public/*.html
public/*.js
public/*.css

HSHCore/**/*.js

plugins/*

# Dependencies

node_modules

# Config file

config.json
